@import "../main.scss";

.task{
  min-height: 160px;
  max-height: 160px;
  // border-left: 5px solid $orange;

  .task-title{
    font-size: 1.5em;
  }

  .task-category{
    opacity: .8;
  }

  .task-description-container{
    overflow: auto;
  }
}

.archivedTask{
  min-height: 50px;
  max-height: 50px;
  border-left: 3px solid $orange;
  font-size: .9em;
}

@media screen and (max-width:992px) {
  .task{
    min-height: 140px !important;
    max-height: 140px !important;
    border-left: 5px solid $orange;
  }
}
