@font-face {
  font-family: 'Tisa';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Tisa Bold';
  src: url('./fonts/Montserrat-Bold.ttf');
}

$primary: #5EB9C2;
$secondary: #002D40;
$red: #FF414D;
$orange: #F56A79;
$white: #D9ECF2;
$black: #002D40;
$green: #397D54;

*{
  padding: 0;
  margin: 0;
  font-family: 'Tisa Bold' ;
  z-index: 10;
}

.infos{
  position: absolute;
  bottom: 0;
  left: 10px;

  a{
    color: $white;
    text-decoration: none;
    transition: .3s;

    &:hover{
      color: #98b2ba;
    }
  }
}

.btn{
  padding: 4px !important;
  font-size: .9em !important;
}

.btn-primary{
  background-color: $green !important;
  border: none !important;

  &:focus{
    box-shadow: none !important;
  }
}

.btn-danger{
  background-color: $red !important;
  border: none !important;

  &:focus{
    box-shadow: none !important;
  }
}

input{
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 3px;

  &:focus{
    outline: none;
  }
}

#confetti-canvas{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.archivedList{
  height: auto;
  max-height: 20vh;
  overflow: auto;
}

#app{
  height: 100vh;
  background-color: $black;
  color: $white;

  .app-title{
    font-size: 4em;
  }

  .app-subtitle{
    font-size: 1.8em;
  }

  .todo-container{
    padding: 10px;


    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: $secondary;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $orange;
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: $primary;
    }

    .title{
      font-size: 1.5em;
    }

    .list{
      height: 64vh;
      overflow: auto;
      border-radius: 20px;
    }

    .actions{
      height: 60vh;
    }
  }
}

@media screen and (max-width:992px) {
  .list{
    height: auto !important;
    max-height: 35vh !important;
  }
  .actions{
    height: auto !important;
  }
  .app-title{
    font-size: 2em !important;
  }
  .app-subtitle{
    font-size: 1em !important;
  }
  #app, #confetti-canvas{
    min-height: 100vh !important;
    height: auto !important;
  }
  .infos{
    position: absolute;
    top: 10px !important;
    left: 15px;
    font-size: .5em !important;
  }
}
